@use '~/assets/scss/settings' as *;
@use '~/assets/scss/mixins' as *;

body {
  font-family: $ja_go;
  color: $color-default;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.85;
  background-color: #F6F6F6;
  -webkit-font-smoothing: subpixel-antialiased;
  @include media(lg){
    font-size: 1.05em;
  }
  @include media(sm){
    font-size: 0.86em;
    line-height: 1.7;
  }
}

a{
  text-decoration: underline;
  outline: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    opacity: 0.8;
  }
}

p{
  margin-bottom: 1.4em;
}

main{
  display: block;
  padding: $content-gap;
  margin-left: $nav-width;
  @include media(sm){
    padding: $content-gap-sm;
    padding-top: 68px;
    margin-left: 0;
  }
}

strong{
  font-weight: 700;
}

div, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  box-sizing: border-box;
}

img{
  vertical-align: middle;
  -webkit-backface-visibility: hidden;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  max-width: 100%;
  height: auto;
}

.container{
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.br-lg{
  @include media(sm){
    display: none;
  }
}

.br-sm{
  @include media(md-lg){
    display: none;
  }
}
