@charset "utf-8";

@use '~/assets/scss/settings' as *;
@use '~/assets/scss/mixins' as *;

.article-blog{
  color:#2c3e50;

  h2{
    font-size: 1.4em;
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.post-block{
  margin-bottom: 1.5em;
}