@charset "utf-8";

@use '~/assets/scss/settings' as *;
@use '~/assets/scss/mixins' as *;
@use "sass:math";

.section{
  margin-bottom: 40px;
  @include media(sm){
    margin-bottom: 20px;
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -1em;
  margin-right: -1em;
  @include media(sm){
    margin-left: -0.5em;
    margin-right: -0.5em;
  }

  & > * {
    box-sizing: border-box;
  }
}

.column{
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  @include media(sm){
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  
  &-primary{
    flex: 1;
  }
}

@for $i from 1 through 12 {
  $div: math.div($i, 12);

  .column-#{$i}{
    &-sm{
      @include media(sm){
        width: $div * 100%;
      }
    }
    &-md{
      @include media(md){
        width: $div * 100%;
      }
    }
    &-lg{
      @include media(lg){
        width: $div * 100%;
      }
    }
  }
}
