@charset "utf-8";

@use '~/assets/scss/settings' as *;
@use '~/assets/scss/mixins' as *;

.table-wrap{
  width: 100%;
  overflow: auto;
}

.table{
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 14px;
  line-height: 1.5;
  @include media(sm-md){
    width: 800px;
  }
  tr{
    background-color: #fff;
    &:nth-child(even){
      background-color: #EEE;
    }
  }
  th, td{
    padding: 13px 10px;
  }

  thead{
    tr{
      background-color: $color-primary;
      color: #FFF;
    }
    th, td{
      white-space: nowrap;
    }
  }

  tbody{
    tr{
      cursor: pointer;
    }
  }

  .sortable{
    cursor: pointer;
    position: relative;
    padding-right: 1.5em;
  }

  .sortable-up,
  .sortable-down{
    position: absolute;
    right: 0.5em;
    color: $color-secondary;
    &.nonactive{
      opacity: 0.3;
    }
  }

  .sortable-up{
    bottom: calc(50% - 2px);
  }
  .sortable-down{
    top: calc(50% - 2px);
  }

  .centered{
    text-align: center;
  }

  .nowrap{
    white-space: nowrap;
  }

  .is-ended{
    background-color: $color-caution !important;
  }

  .icon-check{
    font-size: 1.2em;
    &.check-true{
      color: $color-default;
    }
    &.check-false{
      color: darken($color-caution, 40%);
    }
  }
}